* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', 'Noto Sans SC', 'PingFang SC', 'Helvetica Neue', Arial, sans-serif;
  color: #f5f5f5;
  text-align: center;
  background-color: #030B1A;
}

.navbar {
  margin: 10px;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 2000px;
  flex-wrap: wrap;              
  padding: 0px 40px;
  background: rgba(1, 0, 23); 
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
 
}


.logo img {
  height: 70px;                
  max-width: 100%;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 5px;
}


.nav-links {
  cursor: pointer;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;  
  transition: transform 10s ease-in-out;          
}

.logo img:hover {
  transform: scale(1.07);      
}


.nav-links a {
position: relative;
color: rgb(253, 252, 252);
text-decoration: none;
font-size: 18px;
background-color: #4925b4;
padding: 8px 15px;
border-radius: 5px
}

.nav-links a:hover {
  background-color: #4020a0e2;
}

.grad-text {
    background: linear-gradient(
        90deg,
#3B82F6 0%,   
    #6366F1 25%, 
    #8B5CF6 50%,  
    #7C3AED 75%, 
    #3B82F6 100%
);

  background-size: 250%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: cyanFlow 10s ease-in-out infinite;
}

.online {
  background: linear-gradient(
    90deg,
    #EF4444 0%,   
    #F43F5E 50%,  
    #EF4444 100%  
  );

  background-size: 200%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: cyanFlow 8s ease-in-out infinite;
}

@keyframes cyanFlow {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 125% center;
  }
  100% {
    background-position: 250% center;
  }
}

.first {
  color: #9045fa;
}

.second {
  color: #2668f8; 
}

.third {
  color: #f63b6d; 
}


h1 {
  font-family: 'Orbitron' , 'Poppins', 'Inter', 'Segoe UI', sans-serif;
  margin-top: clamp(6rem, 12vw, 12rem);
  font-size: clamp(2.5rem, 8vw, 4.5rem);
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: clamp(0.5rem, 1vw, 1rem);
  line-height: 1.2;
  text-align: center;
  word-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  display: inline-block;
  letter-spacing: -0.5px;
  line-height: 1.5;
  text-align: center;
  font-size: clamp(20px, 2vw, 60px);
color: #f5f5f5f4;
opacity: 0.8;
margin-top: 12px;
font-weight: 400;
margin-bottom: clamp(6rem, 12vw, 12rem);
}



.featuresHeading {
  font-size: clamp(20px, 1.7vw, 30px);
  text-align: center;
  
}

#featuresMain {
  font-size: clamp(20px, 2.2vw, 40px);
}

.features {
  display: flex;
  justify-content: center;
  gap: clamp(20px, 5vw, 60px);
  flex-wrap: wrap; 
  margin-top: clamp(2rem, 4vw, 4rem);
  margin-bottom: clamp(2rem, 2vw, 4rem);
}

.featureBox {
  padding: clamp(1rem, 2vw, 2rem);
  background-color: #071222;
  flex: 1 1 300px; 
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
  .featureBox {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.featureBox:hover {
  transform: translateY(-10px) scale(1.04);
  border-color: rgba(255, 255, 255, 0.37);
}

.features-sub {
  font-size: clamp(15px, 1.5vw, 18px);
  text-align: center;
  margin-top: clamp(0.25rem, 0.25vw, 0.5rem);
  margin-bottom: clamp(1rem, 3.5vw, 5rem);
  color: #f5f5f5dd;
}

.feature-image {
  width: clamp(50px, 7vw, 125px);
  height: clamp(50px, 7vw, 125px);
  object-fit: cover;
  border-radius: 50%;
}

.feature-title {
  font-size: clamp(0.5rem, 1.5vw, 1.15rem);
  letter-spacing: -0.5px;
  margin-top: clamp(1rem, 1vw, 2rem);
  margin-bottom: clamp(1rem, 1vw, 2rem);
  font-weight: 600;
}

.feature-description {
  opacity: 0.7;
}

.ourGames {
  font-size: clamp(20px, 2vw, 40px);
  margin-top: clamp(10rem, 1vw, 30rem);
  text-align: left;
  margin-left: clamp(0.25rem, 2.5vw, 5rem);
}

.ourGames-sub {
  font-size: clamp(15px, 1.5vw, 18px);
  text-align: left;
  margin-left: clamp(0.25rem, 2.5vw, 5rem);
  color: #f5f5f5f4;
  opacity: 0.9;
}
.allGames {
  margin: clamp(2rem, 1vw, 4rem);
  gap: clamp(2rem, 1vw, 4rem);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

}
.gameBox {
  margin:10px;
  background-color: #3b3c83;
  border-radius: 10px;
  border: 1px solid rgba(174, 171, 171, 0.905);
  display: flex;
  flex-direction: column;   
  align-items: center;      
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.gameBox:hover {
  transform: translateY(-4px) scale(1.004);
  box-shadow: 0 0 20px #6366F1;
}

.gameImage {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
  border-radius: 10px 10px 0 0;
}

.playButton {
  background-color: #6366F1;
  color: #fff;
  border: none;
  padding: clamp(0.5rem, 1vw, 1rem) clamp(1rem, 2vw, 2rem);
  font-size: clamp(14px, 1.5vw, 18px);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 700;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.footer{
  background-color: rgba(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:clamp(1rem, 1vw, 2rem) clamp(1rem, 1vw, 4rem);
}