* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


h3 {
  font-family: fantasy , 'Poppins', 'Inter', 'Segoe UI', sans-serif;
    margin-top: 20px;
    font-weight: 100;
    font-size: clamp(50px, 7vw, 60px);
    word-spacing: 2px;
}

h4 {
  margin-top: 10px;
  font-size: 22px;
}
.features-sub {
  margin: 5px;
}

#features-sub-one {
  color: white;
}
#features-sub-two {
  color: rgba(255, 255, 255, 0.608);
}


.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    gap: 20px;
    padding: 20px;
}


.box {
    background: #071222;
    padding: 10px;
    color: white;
    border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.left, .right {
    opacity: 0.9;
    transform: scale(0.7);
}

.center {
    min-height: 300px;
}


@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr 1.5fr 1fr;
    }
}


@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr; 
    }

    .center {
        order: -1;
    }
}


.sideHeading {
  font-family:'Orbitron' , 'Poppins', 'Inter', 'Segoe UI', sans-serif;
  font-weight: 700;
  font-size: clamp(10px, 4.5vw, 30px);
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.points {
  font-family:'Orbitron' , 'Poppins', 'Inter', 'Segoe UI', sans-serif;
  font-size: clamp(10px, 4.5vw, 30px);
  text-align: left;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 500;
  color: rgb(200, 197, 197)
}




#featuresMain{
  font-family: 'Orbitron' , 'Poppins', 'Inter', 'Segoe UI', sans-serif;
  font-weight: 700;
  font-size: clamp(8px, 4vw, 25px);
}


.rpsAll {
  display: flex;
  justify-content: center;
  margin-top: clamp(0.5rem, 1vw, 1rem);
  margin-bottom: clamp(0.5rem, 1vw, 1rem);
}


.rps-image {
  width: clamp(75px, 11vw, 200px);
  height: clamp(75px, 11vw, 200px);
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.rps-image:hover {
  transform: scale(1.05);
}

.rpsBox {
  padding: clamp(0.5rem, 0.5vw, 1rem);
  background-color: #071222;
  flex: 1 1 300px; 
  max-width: 300px;
  text-align: center;
}

@media (max-width: 768px) {
  .rpsBox {
    flex: 1 1 100%;
    max-width: 100%;
  }
}



.btn{
  background: linear-gradient(
    90deg,
    #3B82F6,
    #6366F1,
    #8B5CF6,
    #7C3AED,
    #EC4899,
    #EF4444
  );
  color: white;
  padding: 5px 10px;
  font-weight: 600;
  font-size: clamp(10px, 2vw, 20px);
  border-radius: 5px;
  margin-top: 25px;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.02);
}