* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


h3 {
  font-family: fantasy , 'Poppins', 'Inter', 'Segoe UI', sans-serif;
    margin-top: 20px;
    font-weight: 100;
    font-size: clamp(20px, 5vw, 40px);
    word-spacing: 2px;
}

.features-sub {
  margin: 5px;
}

#features-sub-one {
  color: white;
}
#features-sub-two {
  color: rgba(255, 255, 255, 0.608);
}


.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    gap: 20px;
    padding: 20px;
}


.box {
    background: #071222;
    padding: 10px;
    color: white;
    border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.left, .right {
    opacity: 0.9;
    transform: scale(0.7);
}

.center {
    min-height: 300px;
}


@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr 1.5fr 1fr;
    }
}


@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr; 
    }

    .center {
        order: -1;
    }
}


#featuresMain{
  font-family: 'Orbitron' , 'Poppins', 'Inter', 'Segoe UI', sans-serif;
  font-weight: 700;
  font-size: clamp(8px, 4vw, 25px);
}